baseURL = 'https://uw-mlgeo.github.io/'
languageCode = 'en-us'
title = "Machine Learning for the Geosciences"
theme = "no-style-please"

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
        unsafe = true
    [markup.goldmark.parser]
      [markup.goldmark.parser.attribute]
        block = true
        title = true

[caches]
  [caches.images]
    dir = ':cacheDir/images'